<div class="container-fluid" ng-controller="AppCtrl">
	<div class="row">
		<div class="col-md-16">
			<h3 class="text-center">
				PROJECTIFY
			</h3>
			<div class="carousel slide" id="carousel-375931">
				<ol class="carousel-indicators">
					<li data-slide-to="0" data-target="#carousel-375931">
					</li>
					<li data-slide-to="1" data-target="#carousel-375931" class="active">
					</li>
					<li data-slide-to="2" data-target="#carousel-375931">
					</li>
				</ol>
				<div class="carousel-inner">
					<div class="item">
						<img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/city-q-c-1600-500-1.jpg" />
						<div class="carousel-caption">
							<h4>
                Project
							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item active">
						<img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/abstract-q-c-1600-500-2.jpg" />
						<div class="carousel-caption">
							<h4>
								Yourself
							</h4>
							<p>

							</p>
						</div>
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg" />
						<div class="carousel-caption">
							<h4>
								Better
							</h4>
							<p>
							</p>
						</div>
					</div>
				</div> <a class="left carousel-control" href="#carousel-375931" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-375931" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
			<form role="form" class="form-inline" ng-controller="AppCtrl">
				<div class="form-group">
					 
					<label for="userInput">
						User
					</label>
					<input type="user" class="form-control" id="userInput" ng-model='user'/>
				</div>
				<div class="form-group">
					 
					<label for="passInput">
						Password
					</label>
					<input type="pass" class="form-control" id="passInput" ng-model='unique'/>
				</div>
				<div class="form-group">
					
					<!-- password showing up as undefined in list.js -- fix -->
				<button type="signUp" class="btn btn-default" ng-click="$ctrl.userCreate(user, unique)">
					Sign-Up
				</button>
				<button type="login" class="btn btn-default" ng-click="$ctrl.userCheck(user, unique)">
					login
				</button>
      </form>

      <form role="search" class="form-right">
        <div class="search" >
          <label for="searchInput">
            Search
          </label>
          <input type="search" class="form-control" id="searchInput" ng-model="searchBox" />
          <button type="search" class="btn btn-default pull-right" ng-click="$ctrl.onSearch(searchBox)">
            Search
          </button>
        </div>
      </form>
      
		</div>
		
	</div>
	
</div>
<div>
  Here are your {{$ctrl.items.length}} pictures. 
  <list-item ng-repeat="item in $ctrl.items" item=item />
</div>
